/* Gjør tittelradene fete */
th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* Gjør første kolonne fet (gjelder både header og innhold) */
table th:first-child, table td:first-child {
  font-weight: bold;
  width: 5ch; /* Holder på 5 tegns bredde */
}
table th:first-child, table td:first-child {
  background-color: #e6e6e6;
}
